:root{
  font-size: 62.5%;

  --bg-color: #FFFFFF;

  --card-primary-color: #323238;
  --card-bg-primary-color: #E1E1E6;
  --card-secondary-color: #FFFFFF;
  --card-bg-secondary-color: #02799D;
  
  --fw-timer: 500;
  --lh-timer: 14.8rem;
  --fs-timer: 12.62rem;
  --fc-timer: #323238;
  --ff-timer: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page{
  display: grid;
  grid-template-areas: "timer buttons";
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 0rem + 16vw, 22.5rem);
  width: clamp(80rem, 80rem + 30vw, 128rem);
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  margin: 0 auto;

  background: var(--bg-color);
}

button{
  cursor: pointer;
  border: none;
  background: none;
}

main{
  display: flex;
  align-items: center;
  height: fit-content;

  flex-direction: column;
}

#timer{
  grid-area: "timer";
  display: flex;

  color: var(--fc-timer);
  font-size: var(--fs-timer);
  font-weight: var(--fw-timer);
  line-height: var(--lh-timer);
  font-family: var(--ff-timer);

  padding-bottom: 4.8rem;
}

#timer-buttons{
  display: flex;
  gap: 4rem;
}

#timer-buttons svg path{
fill: var(--fc-timer);
}

aside{
  grid-area: "buttons";
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  place-content: center; 
}

.card svg path:nth-child(1){
  fill: var(--card-bg-primary-color);
}

.card svg path:nth-child(2){
  fill: var(--card-primary-color);
}

.selected-card svg path:nth-child(1){
  fill: var(--card-bg-secondary-color);
}

.selected-card svg path:nth-child(2){
  fill: var(--card-secondary-color);
}

@media (max-width: 800px){
  .page{
    grid-template-areas: "timer"
    "buttons";
    align-content: center;
    gap: clamp(2rem, 2rem + 50vh, 5rem);
    width: 100vw;
    max-height: 100vh;

    padding: 5rem 0;
  }

  main{
    height: fit-content;
  }

  aside{
    height: fit-content;
  }
}